<div class="col-sm-12 col-lg-12 col-xs-12 p-2">
  <div class="row g-1">
    <div *ngFor="let filter of chartConfig.filters" class="col-md-2 mx-2">
      <label>{{ filter.label }} : </label>
      <select
        [attr.id]="filter.id"
        class="custom-select mx-1"
        (change)="onFilterChange()"
      >
        <option *ngFor="let option of filter.options" [value]="option.value">
          {{ option.display }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <kendo-chart>
      <kendo-chart-title [text]="chartConfig.chartTitle"></kendo-chart-title>
      <kendo-chart-legend
        position="bottom"
        orientation="horizontal"
      ></kendo-chart-legend>
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
          [categories]="chartConfig.teamMemberNames"
        ></kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      <kendo-chart-series>
        <kendo-chart-series-item
          type="bar"
          [data]="chartConfig.projectCounts"
          field="count"
          categoryField="name"
        >
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
