<div class="col-sm-12 col-lg-12 col-xs-12">
  <kendo-gantt
    [data]="GanttTasks"
    [dependencies]="dependencies"
    kendoGanttExpandable
    [initiallyExpanded]="true"
    kendoGanttSelectable
    [(selectedKeys)]="selectedKeys"
    style="height: 500px"
    [treeListPaneOptions]="{
      collapsed: false,
      collapsible: true
    }"
  >
    <ng-container *ngFor="let col of columnsConfig">
      <kendo-gantt-column
        [field]="col.field"
        [title]="col.title"
        [width]="col.width"
        [expandable]="col.expandable"
      ></kendo-gantt-column>
    </ng-container>
    <kendo-gantt-timeline-month-view></kendo-gantt-timeline-month-view>
    <!-- <kendo-gantt-timeline-week-view></kendo-gantt-timeline-week-view> -->
  </kendo-gantt>
</div>
