<div class="container-fluid m-0 p-0">
  <!----NAVBAR BLOCK----->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Task</a>
    </div>
  </nav>

  <!----------------------CONTENT AREA BLOCK------------------------>
  <div class="container-fluid px-4 py-2 text-center">
    <div class="row">
      <div class="card col-md-10 col-xs-12 col-md-12 col-lg-12 p-0 my-2">
        <div class="card-body text-center">
          <app-timeline
            [GanttTasks]="GanttTasks"
            [dependencies]="dependencies"
            [columnsConfig]="[
              {
                field: 'title',
                title: 'Project Name',
                width: 300,
                expandable: true
              },
              { field: 'priority', title: 'Priority', width: 100 },
              { field: 'stage', title: 'Stage', width: 150 }
            ]"
          ></app-timeline>
        </div>
      </div>
      <div class="card col-md-10 col-xs-12 col-md-12 col-lg-12">
        <div class="card-body">
          <app-chart
            [chartConfig]="chartConfig"
            (filterChangeEmit)="onFilterChange($event)"
          ></app-chart>
        </div>
      </div>
    </div>
  </div>
  <!----------------------CONTENT AREA BLOCK------------------------>
</div>
